<app-navbar></app-navbar>
<div class="flex flex-col">
    <div class="flex flex-col items-center">
        <h1 class="font-bold text-3xl">Add an image</h1>
        <form [formGroup]="uploadImageForm" (ngSubmit)="submit()" class="flex flex-col w-80">
            Title: <input formControlName="title" placeholder="What about... Memory" class="block w-full px-4 py-2 border border-solid border-gray-300 rounded-lg">
            <div class="text-red-600 text-center">{{ uploadState }}</div>
            File: <input formControlName="file" (change)="upload($event)" type="file" accept="image/png, image/gif, image/jpeg" class="mt-2 mb-2">
            <button class="bg-blue-600 text-white disabled:bg-gray-500 font-medium rounded h-8 shadow-md" [disabled]="!uploadImageForm.valid">Upload</button>
        </form>
    </div>

    <h1 class="font-bold text-3xl mb-2">Gallery</h1>
    <div class="flex float-left flex-wrap">
        <app-photo *ngFor="let photo of photos" [title]="photo.title" [imgUrl]="photo.url" [date]="photo.date" [id]="photo.id"></app-photo>
    </div>
</div>